{% extends "base/base.twig" %}

{% block content %}

{# Show the breadcrumbs #}
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li><i class="icon-map-marker"></i> </li>
			<li><a href="{{ vanity.link.api_reference }}/">API Reference</a> <span class="divider">\</span></li>
			{% for breadcrumb in vanity.breadcrumbs %}
				{% if breadcrumb.path %}
					<li><a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a> <span class="divider">\</span></li>
				{% else %}
					<li class="active">{{ breadcrumb.name }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">

	{# Yield to an extending template #}
	{% block yield %}{% endblock %}

</div>
{% endblock %}
