{# The description data processed into HTML. #}
{% if json.description and json.description is iterable %}
	<div itemprop="description">
	{{ json.description|description_as_html|raw }}
	<br>
	</div>
{% else %}
	<p>{{ vanity.message.not_yet_implemented|raw }}</p>
{% endif %}
