<ul class="nav nav-list well">
	<li class="nav-header">Contents</li>
	<li><a href="#description"><i class="icon-book"></i> Description</a></li>

	{% if native.methods %}
		<li><a href="#class-methods"><i class="icon-cog"></i> Class Methods</a></li>
	{% endif %}

	{% if inherited.methods %}
		<li><a href="#inherited-methods"><i class="icon-cog"></i> Inherited Methods</a></li>
	{% endif %}

	{% if json.constants %}
		<li><a href="#constants"><i class="icon-lock"></i> Constants</a></li>
	{% endif %}

	{% if json.properties and json.properties.count is not sameas(0) %}
		<li><a href="#properties"><i class="icon-list-alt"></i> Properties</a></li>
	{% endif %}

	{% if vanity.config['generator.twig.debug'] %}
		<li><a href="#debugger"><i class="icon-wrench"></i> Debugger Data</a></li>
	{% endif %}
</ul>
