{# Notes about the class #}
{% if deprecated or api %}

	<h2 id="notes">Notes</h2>

	{% if api %}
	<div class="alert alert-success">
		<p><strong>Stable:</strong> This class represents a stable, public API component. This API <strong>should not change</strong> unless the new version is tagged as breaking Backwards Compatibility.</p>
	</div>
	{% endif %}

	{% if internal %}
	<div class="alert alert-info">
		<p><strong>Internal:</strong> This class is only intended for internal use. This API <strong>may change at any moment</strong>, likely with no warning whatsoever. It is advisable to not use this API.</p>
	</div>
	{% endif %}

	{% if deprecated %}
	<div class="alert alert-error well">
		<p><strong>Deprecated:</strong> This class has been deprecated and will be removed in a future release. Please migrate your code appropriately.</p>
	</div>
	{% endif %}

{% endif %}
