{# The description data processed into HTML. #}
{% if method.description and method.description is iterable %}
	{{ method.description|description_as_html|raw }}
	<br>
{% else %}
	<p>{{ vanity.message.not_yet_implemented|raw }}</p>
{% endif %}
