{% extends "base/base.twig" %}

{% block yield %}

	{# Parse these results into new variables #}
	{% set native = json.methods.method|filter_by_native %}
	{% set inherited = json.methods.method|filter_by_inherited %}

	{# Side navigation bar #}
	<div class="navigation-wrapper">
		<div class="span3 offset9 navigation" id="navTracker">

			{% include "partials/class_navigation.twig" %}

			{% include "partials/social_buttons.twig" %}

		</div>
	</div>

	{# Main content area #}
	<div class="span9 content" itemprop="mainContentOfPage">

		{% include "partials/class_page_header.twig" %}

		{% include "partials/class_description.twig" %}

		{% include "partials/class_class_reference.twig" %}

		{% include "partials/constants.twig" %}

		{% include "partials/native_methods.twig" %}

		{% include "partials/inherited_methods.twig" %}

		{% include "partials/properties.twig" %}

		{% include "partials/debugger_data.twig" %}

		{% include "partials/footer.twig" %}

	</div>

{% endblock %}
