{% extends "base/base.twig" %}

{% block yield %}

	{# Side navigation bar #}
	<div class="navigation-wrapper">
		<div class="span3 offset9 navigation" id="navTracker">

			{% include "partials/method_navigation.twig" %}

			{% include "partials/social_buttons.twig" %}

		</div>
	</div>

	{# Main content area #}
	<div class="span9 content" itemprop="mainContentOfPage">

		{% include "partials/method_page_header.twig" %}

		{% include "partials/method_description.twig" %}

		{% include "partials/method_class_reference.twig" %}

		{% include "partials/examples.twig" %}

		{% include "partials/parameters.twig" %}

		{% include "partials/returns.twig" %}

		{% include "partials/comments.twig" %}

		{% include "partials/debugger_data.twig" %}

		{% include "partials/footer.twig" %}

	</div>

{% endblock %}
